<mat-tab-group mat-stretch-tabs color="accent" backgroundColor="primary">
        <mat-tab label="Exposiciones Individuales"> 
                <p>1987</p>
                <p>Severo Acosta. Ateneo de Madrid. Madrid.</p>
                <mat-divider></mat-divider>
                <p>1988</p>
                <p>Severo Acosta. Caja Postal. Lleida</p>
                <mat-divider></mat-divider>
                <p>1992</p>
                <p>Severo Acosta. Pinturas 1990-1992. Sala de Arte de CajaCanarias. La Laguna, Tenerife.</p>
                <mat-divider></mat-divider>
                <p>1995</p>
                <p>Sobre Muro (De Divina Proportione). Galería Saro León. Las Palmas de Gran Canaria.</p>
                <mat-divider></mat-divider>
                <p>1998</p>
                <p>Cuerpos Platónicos. Sala de Exposiciones La Palmita. Las Palmas de Gran Canaria.</p>
                <mat-divider></mat-divider>
                <p>2001</p>
                <p>2 X 2 Acosta & Pérez y Joel. San Antonio Abad. CAAM. Las Palmas de Gran Canaria.</p>
                <mat-divider></mat-divider>
                <p>2004</p>
                <p>Bajo el Signo (2000 -2004). Convento de Santo Domingo. Teguise. Lanzarote.</p>
                <mat-divider></mat-divider>
                <p>2007</p>
                <p>Bandera blanca. Centro de Arte La Recova. Santa Cruz de Tenerife.</p>
                <p>Uruk – El Laberinto. Dibujos y collages. Casa Roja, Espacio Cultural 55. Garachico, Tenerife.</p>
                <mat-divider></mat-divider>
                <p>2009</p>
                <p>Nocturno (2008-09). Ateneo de La Laguna, Tenerife.</p>
                <mat-divider></mat-divider>
                <p>2012</p>
                <p>Caribbean Sea. Galería Saro León. Las Palmas de Gran Canaria.</p>
        </mat-tab>
        <mat-tab label="Exposiciones Colectivas"> 
                <p>1986</p>
                <p>III Salón de Pintura Joven. Casa del Reloj. Madrid.</p>
                <p>Premio Villa de Madrid. Conde Duque. Madrid.</p>
                <p>Becarios Curso 84-85. Palacio de Vellosillo, Ayllón. Segovia.</p>
                <p>Becarios Curso 84-85. Facultad de Bellas Artes de S. Fernando. Madrid.</p>
                <mat-divider></mat-divider>
                <p>1988</p>
                <p>Madrid en Vanguardia. ARCO 88. Madrid.</p>
                <p>Momentos para una Bienal. Semana de La Juventud. Casa del Reloj. Madrid.</p>
                <p>Arte de Vanguardia del Ateneo de Madrid. Sala Muralla Bizantina. Cartagena.</p>
                <mat-divider></mat-divider>
                <p>1994</p>
                <p>Bosnia-Herzegovina. Ferida Oberta Mostra D´Art-Postal. Antiguo Ayuntamiento de Barcelona.</p>
                <p>41. Facultad de Bellas Artes. Centro de Arte La Recova. Santa Cruz de Tenerife.</p>
                <mat-divider></mat-divider>
                <p>1997</p>
                <p>El renacimiento del espacio pictórico. Sala de exposiciones La Granja. Santa Cruz de Tenerife.</p>
                <mat-divider></mat-divider>
                <p>1998</p>
                <p>V Bienal de Artes Plásticas. Museo Municipal. Santa Cruz de Tenerife.</p>
                <mat-divider></mat-divider>
                <p>1999</p>
                <p>ARCO 99, Madrid. Galería Saro León.</p>
                <mat-divider></mat-divider>
                <p>2005</p>
                <p>Con Título. Centro de Arte Juan Ismael. Puerto del Rosario, Fuerteventura.</p>
                <mat-divider></mat-divider>
                <p>2006</p>
                <p>De la isla de fuego a la isla habitáculo. Centro de Arte Santo Domingo. Teguise, Lanzarote.</p>
                <mat-divider></mat-divider>
                <p>2008</p>
                <p>En tres palabras. Galería de Arte Stunt. La Laguna, Tenerife.</p>
                <mat-divider></mat-divider>
                <p>20 años. Galería Saro León. Las Palmas de Gran Canaria.</p>
                <mat-divider></mat-divider>
                <p>2015</p>
                <p>Art International Marbella. Galería Saro León. Málaga.</p>
        </mat-tab>
</mat-tab-group>